/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');

::selection {
  background-color:rgba(128, 128, 128, 0.15);
}

* {
  box-sizing: border-box;
  font-family: 'Changa', sans-serif;
}

:root {
  --primary-color: #ddd;
  font-size: 14.5px;
}

body {
  margin: 0;
  padding: 0;
  color: #646464;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

/* header styles */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary-color);
  font-size: 1rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.473);
  position: relative;
  margin-bottom: 5vh;
}

.header .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background-color: #192734;
}

.header h1 {
  z-index: 1;
  color: var(--primary-color);
  border-bottom: 2px solid #d5d5d5;
}

.header h1 a {
  color: var(--primary-color);
}

/* main section styles */

.main .container {
  width: 80%;
  margin: auto;
}

.main .container .search {
  padding: 0.5rem 1rem 0.5rem 0.4rem;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #e7e7e7;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.main .container .search .search-input{
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color: #e7e7e7;
  flex-grow: 1;
  caret-color: #929292;
  color: #646464;
}

.main .container .search .search-input::placeholder {
  font-size: 1.1rem;
  word-spacing: 2px;
  color: rgb(173, 173, 173);
}

.main .container .search button {
  border: none;
  background-color: #e7e7e7;
  cursor: pointer;
}

.main .container .search i {
  color: rgba(173, 173, 173, 0.685);
  font-size: 1.2rem;
}

.main .container .results {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.main .container .results .count{
  text-align: right;
  color: red;
}

.main .container .ayahs-container {
  width: 95%;
  margin: auto;
}

.main .container .ayahs-container .ayah-container {
  text-align: center;
  background-color: #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.main .container .ayahs-container .ayah-container .ayah-description {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: #979797;
}

/* media queries */

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}